<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Contact US</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Kausik</ion-card-title>
    <ion-card-content>No.5, 6th Cross Street, Balaji Nagar,Saram,Pondicherry-605013</ion-card-content>
    <ion-card-content>
      <ion-icon name="call"></ion-icon>&nbsp;8098037203
    </ion-card-content>
    <ion-card-content>
      <ion-icon name="mail"></ion-icon>&nbsp;kausikp11@gmail.com
    </ion-card-content>
  </ion-card>
 
  <ion-item style="align-content: center;">
    <ion-button slot="start" color="success" href="tel:+918098037203">Call</ion-button>
    <ion-button slot="end" color="success" href="mailto:kausikp11@gmail.com">Mail</ion-button>
  </ion-item>
</ion-content>